<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><img src="{{ site.baseurl }}/images/avatar.jpg" alt="" /></span>
            <h1 id="logo"><a href="{{ site.baseurl }}/">Sofia B. Lopez</a></h1>
            <p>How flow can transform the way you think<br />
            </p>
        </header>
        <nav id="nav">
            <ul>
		{% for item in site.data.navigation %}
			<li><a href="{{item.link}}">
				{{ item.name }}
			</a></li>
		{% endfor %}
            </ul>
        </nav>
	
        <footer>
	<ul class="icons">
		{% for item in site.data.icons %}
			<li><a href="#" class="{{item.class}}"><span class="label">
			{{ item.name }}
			</span></a></li>
		{% endfor %}
	</ul>
        </footer>

    </section>
